<div class="page-wrapper">
    <app-header
      [icons]="[{ name: 'edit_note', tooltip: 'Edit Note' }, { name: 'settings_suggest', tooltip: 'Settings' }]"
    >
      <div header-left></div>
      <div header-right>
        <!-- <h4 class="heading">More info</h4> -->
      </div>
    </app-header>
  
    <div class="row">
      <div class="card card-size-max-w-x-150">Card max x 150</div>
    </div>
    <div class="row">
        <div class="card card-size-640x328">Card 640 x 328</div>
        <div class="card card-size-640x328">Card 640 x 328</div>
      </div>
    <div class="row">
      <div class="card card-size-305x142">Card 305 x 142</div>
      <div class="card card-size-305x142">Card 305 x 142</div>
      <div class="card card-size-305x142">Card 305 x 142</div>
      <div class="card card-size-305x142">Card 305 x 142</div>
    </div>
    <div class="row">
      <div class="card card-size-max-w-x-150">Card max x 150</div>
    </div>
    <app-footer></app-footer>

  </div>
  