/* app-bar.component.scss */

@import '../../../themes/custom_theme.scss';


mat-toolbar {
  height: 68px;
  background-color: var(--app-bar-bg);
  color: var(--text-color);
  position: fixed;
  top: 0;
  width: 100%; /* Ensure the toolbar extends full width */
  z-index: 2; /* Ensure the toolbar is above other content */
}

.app-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
    margin: 0 auto;
  width: calc(100% - 88px);
  padding-right: 100px;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo-part {
  width: 308px;
  height: 48px;
}

.logo-part:not(:last-child) {
  margin-right: 8px;
}

.icon-buttons-container {
  display: flex;
  align-items: center; /* Center the icons vertically */
}

mat-icon, .profileImg {
  font-size: 32px; /* Icon size */
  height: 32px; /* Icon height */
  width: 32px; /* Icon width */
  color: var(--app-bar-icon-color);
}

mat-icon {
  padding-right: 12px; /* Space between icons */
}

.profileImg {
  height: 46px;
  width: 46px;
  border-radius: 50%; /* Make it round */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.mat-badge-content.mat-badge-overlap {
  background-color: #91C60F !important;
 }
 