:root {
    --disco-50: #f2e3ed;
    --disco-100: #dfbad3;
    --disco-200: #c98cb6;
    --disco-300: #b35d98;
    --disco-400: #a33b82;
    --disco-500: #93186c;
    --disco-600: #8b1564;
    --disco-700: #801159;
    --disco-800: #760e4f;
    --disco-900: #64083d;
    --disco-A100: #ff96cd;
    --disco-A200: #ff63b5;
    --disco-A400: #ff309c;
    --disco-A700: #ff1690;
    --disco-contrast-50: rgba(black, 0.87);
    --disco-contrast-100: rgba(black, 0.87);
    --disco-contrast-200: rgba(black, 0.87);
    --disco-contrast-300: white;
    --disco-contrast-400: white;
    --disco-contrast-500: white;
    --disco-contrast-600: white;
    --disco-contrast-700: white;
    --disco-contrast-800: white;
    --disco-contrast-900: white;
    --disco-contrast-A100: rgba(black, 0.87);
    --disco-contrast-A200: rgba(black, 0.87);
    --disco-contrast-A400: white;
    --disco-contrast-A700: white;
  
    --genoa-50: #e3edee;
    --genoa-100: #b9d1d4;
    --genoa-200: #8bb3b7;
    --genoa-300: #5c949a;
    --genoa-400: #397d85;
    --genoa-500: #16666f;
    --genoa-600: #135e67;
    --genoa-700: #10535c;
    --genoa-800: #0c4952;
    --genoa-900: #063840;
    --genoa-A100: #76e8ff;
    --genoa-A200: #43dfff;
    --genoa-A400: #10d6ff;
    --genoa-A700: #00ccf6;
    --genoa-contrast-50: rgba(black, 0.87);
    --genoa-contrast-100: rgba(black, 0.87);
    --genoa-contrast-200: rgba(black, 0.87);
    --genoa-contrast-300: rgba(black, 0.87);
    --genoa-contrast-400: white;
    --genoa-contrast-500: white;
    --genoa-contrast-600: white;
    --genoa-contrast-700: white;
    --genoa-contrast-800: white;
    --genoa-contrast-900: white;
    --genoa-contrast-A100: rgba(black, 0.87);
    --genoa-contrast-A200: rgba(black, 0.87);
    --genoa-contrast-A400: rgba(black, 0.87);
    --genoa-contrast-A700: rgba(black, 0.87);

    --cerulean-50: #e7f5fe;
  --cerulean-100: #c2e0fc;
  --cerulean-200: #99ccfa;
  --cerulean-300: #70b8f8;
  --cerulean-400: #4da6f7;
  --cerulean-500: #2a94f5;
  --cerulean-600: #268cef;
  --cerulean-700: #217fe8;
  --cerulean-800: #1c72e2;
  --cerulean-900: #1358da;
  --cerulean-A100: #a6c8ff;
  --cerulean-A200: #73aaff;
  --cerulean-A400: #408cff;
  --cerulean-A700: #267aff;
  --cerulean-contrast-50: rgba(black, 0.87);
  --cerulean-contrast-100: rgba(black, 0.87);
  --cerulean-contrast-200: rgba(black, 0.87);
  --cerulean-contrast-300: rgba(black, 0.87);
  --cerulean-contrast-400: rgba(black, 0.87);
  --cerulean-contrast-500: white;
  --cerulean-contrast-600: white;
  --cerulean-contrast-700: white;
  --cerulean-contrast-800: white;
  --cerulean-contrast-900: white;
  --cerulean-contrast-A100: rgba(black, 0.87);
  --cerulean-contrast-A200: rgba(black, 0.87);
  --cerulean-contrast-A400: white;
  --cerulean-contrast-A700: white;

  --sunglow-50: #fff9e6;
  --sunglow-100: #ffefbf;
  --sunglow-200: #ffe593;
  --sunglow-300: #ffdb66;
  --sunglow-400: #ffd43d;
  --sunglow-500: #ffcc14;
  --sunglow-600: #e6b800;
  --sunglow-700: #cca300;
  --sunglow-800: #b38f00;
  --sunglow-900: #997a00;
  --sunglow-A100: #ffffff;
  --sunglow-A200: #fff2cc;
  --sunglow-A400: #ffe999;
  --sunglow-A700: #ffe080;
  --sunglow-contrast-50: rgba(black, 0.87);
  --sunglow-contrast-100: rgba(black, 0.87);
  --sunglow-contrast-200: rgba(black, 0.87);
  --sunglow-contrast-300: rgba(black, 0.87);
  --sunglow-contrast-400: rgba(black, 0.87);
  --sunglow-contrast-500: rgba(black, 0.87);
  --sunglow-contrast-600: black;
  --sunglow-contrast-700: black;
  --sunglow-contrast-800: white;
  --sunglow-contrast-900: white;
  --sunglow-contrast-A100: rgba(black, 0.87);
  --sunglow-contrast-A200: rgba(black, 0.87);
  --sunglow-contrast-A400: rgba(black, 0.87);
  --sunglow-contrast-A700: rgba(black, 0.87);
  }
  