<!-- <app-header [icons]="[{ name: 'edit_note', tooltip: 'Edit Note' }, { name: 'settings_suggest', tooltip: 'Settings' }]">
    <div header-left>
      <h4 class="heading">Good {{greeting}}, {{randomUser}}</h4>
    </div>
    <div header-right>
        
    </div>
  </app-header> -->

  <div class="page-wrapper" >
    <app-header [icons]="[{ name: 'edit_note', tooltip: 'Edit Note' }, { name: 'settings_suggest', tooltip: 'Settings' }]">
        <div header-left>
        </div>
        <div header-right>
            <!-- <h4 class="heading">More info</h4> -->
        </div>
      </app-header>

    <div class="row">
      <div class="glassify-card-1 card-size-420x255">Card</div>
      <div class="glassify-card-1 card-size-420x255">Card</div>
    </div>
    <div class="row">
      <div class="glassify-card-2 card-size-640x328">Card max x 150</div>
    </div>
    <div class="row">
        <div class="glassify-card-3 card-size-640x328">Card 640 x 328</div>
        <div class="glassify-card-3 card-size-640x328">Card 640 x 328</div>
      </div>
    <div class="row">
      <div class="glassify-card-1 card-size-420x255">Card 420 x 255</div>
      <div class="glassify-card-2 card-size-420x255">Card 420 x 255</div>
      <div class="glassify-card-3 card-size-420x255">Card 420 x 255</div>
    </div>
    <app-footer></app-footer>
  </div>