<!-- home.page.html -->
<app-header [icons]="[{ name: 'edit_note', tooltip: 'Edit Note' }, { name: 'settings_suggest', tooltip: 'Settings' }]">
    <div header-left>
      <h4 class="heading">Good {{greeting}}, {{randomUser}}</h4>
    </div>
    <div header-right>
        <!-- <h4 class="heading">More info</h4> -->
    </div>
  </app-header>

  <div class="page-wrapper">
    <div class="row">
      <div class="card card-size-640x328 glassmorphism">Card 640 x 328</div>
      <div class="card card-size-640x328 glassmorphism">Card 640 x 328</div>
    </div>
    <div class="row">
      <div class="glassify1">
        glassify1
      </div>
      <div class="glassify2">
        glassify2
      </div>
      <div class="glassmorphism">
        glassmorphism
      </div>
      <div class="glassmorphism">
        glassmorphism
      </div>
    </div>
    <div class="row">
      <div class="glassify3">glassify3</div>
      <div class="glassify3">glassify3</div>
      <div class="glassify3">glassify3</div>
      <div class="glassify3">glassify3</div>
    </div>
    <div class="row">
      <div class="card card-size-420x255">Card 420 x 255</div>
      <div class="card card-size-420x255">Card 420 x 255</div>
      <div class="card card-size-420x255">Card 420 x 255</div>
    </div>
    <app-footer></app-footer>
  </div>
  