// styles.scss
@use "sass:color";


// Use the theme-1-light styles and include the mixin for the theme properties
@use './themes/theme-1-light';

@use './themes/theme-1-dark';

body {
    display: block; /* or any other display value you need */
    margin: 0; /* Remove default margin */
  }

  .page-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card {
    background-color: var(--card-background-color);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
  }
  
  .card-size-640x328 {
    width: 640px;
    height: 328px;
  }
  
  .card-size-305x142 {
    width: 305px;
    height: 142px;
  }
  
  .card-size-420x255 {
    width: 420px;
    height: 255px;
  }

  .card-size-max-w-x-150 {
    width: 100%;
    height: 150px;
  }

  .glassify-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: var(--text-color);
  }

  .glassify-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 147, 24, 108, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: var(--text-color);
  }

  .glassify-card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--text-color);
  }

  .glassify1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    height: 300px;
    width: 300px;
    color: var(--text-color);
  }

  .glassify2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 147, 24, 108, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: var(--text-color);
    height: 300px;
    width: 300px;
  }

  .glassify3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    height: 300px;
    width: 300px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.11);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .glassify4 {
    width: 100%;
    height: 150px;
    backdrop-filter: blur(6px) saturate(73%);
    -webkit-backdrop-filter: blur(6px) saturate(73%);
    background-color: rgba(17, 25, 40, 0.63);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .glassify5 {
    width: 100%;
    height: 150px;
    backdrop-filter: blur(2px) saturate(99%);
    -webkit-backdrop-filter: blur(2px) saturate(99%);
    background-color: rgba(17, 25, 40, 0.19);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .glassmorphism {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--text-color);
  height: 300px;
    width: 300px;
  }